
<!-- Navigation -->
<nav class="navbar  navbar-dark fixed-top" id="mainNav" lang="ejs">
	<div class="container">
	
	<a href="/">
		<img class="nav-image" src="/static/img/SLCDSA1.png" alt="DSA Logo">
		<div class="navbar-brand longer-text">Salt Lake DSA</div>
		<div class="navbar-brand shorten-text">SL DSA</div>
		
	</a>
		
		
		<div class="d-flex flex-row">
		<a class="nav-icon nav-link px-1" href="/userinfo"><i class="fas fa-1x fa-user"></i>
		
	
		
		<small class="text-center" style="display: inline-block; width: 18px; height: 18px; color:#f5f4f4; background-color: rgba(10, 6, 6, 1);  border-radius: 50%; transform: translate(-10px, -10px); opacity:<%= (user) ? 1 :0%>;">✓</small>
		
		</a>
		
		<a class="nav-icon nav-link px-1" href="/shop/cart"><i class="fas fa-1x fa-shopping-cart"></i>
		
		
		<% var cartNum = locals.alertCart ? alertCart.totalQty : 0%>
		<small class="text-center" style="display: inline-block; width: 18px; height: 18px; color:#f5f4f4; background-color: rgba(10, 6, 6, 1);  border-radius: 50%; transform: translate(-10px, -10px); opacity:<%= cartNum>0 ? 1 : 0%>;"><%= cartNum%></small>
		
	
	 </a>
			
		<button id="mainNav-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/new-members">New Members
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/calendar">Calendar</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/committees">Committees</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/donate">Donate</a>
				</li>
			
			
				<li class="nav-item">
					<a class="nav-link" href="/shop/inventory">Shop</a>
				</li>
		
			</ul>
		</div>
		
	</div>	
</nav>


