<!-- views/partials/socialmedia.ejs -->
<script src="/txt/socialmedia.json"></script>

<footer class="py-4 text-white">
	<!-- Footer Links -->
	<div class="container text-center">
		<!-- Grid row -->
		<div class="row">
			<!-- Grid column -->
			<div class="col-md-4 mt-md-0 mt-3 text-md-left">
				<!-- Content -->
				<h4 class="text-uppercase">Democratic Socialists of Salt Lake</h4>
				<p><span id="foot_1"></p>
				<h5 class="text-uppercase"><span id="foot_2"></h5>
				<i class="fas fa-1x fa-envelope text-primary mb-3"></i>
				<span class="align-top">SaltLakeDSA@gmail.com</span>
			</div>
			<!-- Grid column -->
			<div class="col-md-4 mb-md-0 mb-3">
				<!-- Links -->
				<a href="https://www.facebook.com/slcdsa/">
					<img class="mx-2"
					     src="\static\img\socialmedia\facebook.png"
					     alt="facebook link"/>
				</a>
				<a href="https://twitter.com/slcDSA">
					<img class="mx-2"
					     src="\static\img\socialmedia\twitter.png"
					     alt="twitter link"/>
				</a>
				<a href="https://www.instagram.com/slcdsa/">
					<img class="mx-2"
					     src="\static\img\socialmedia\instagram.png"
					     alt="instagram link"/>
				</a>
			</div>
			<div class="col-md-4 mb-md-0 mb-3 text-md-right">
				<h5 class="text-uppercase">
					<a href="/"><span id="foot_3"></a>
				</h5>
				<h5 class="text-uppercase">
					<a href="/donate"><span id="foot_4"></a>
				</h5>
				<h5 class="text-uppercase">
					<a href="/calendar"><span id="foot_5"></a>
				</h5>
			</div>
		</div>
		<hr class="my-4"/>
		<div class="row">
			<div class="col-lg-12 text-center">
				<h5 class="px-6 py-4"><span id="foot_6"></h5>
				<a class="btn btn-light btn-xl sr-button"
				   href="https://act.dsausa.org/donate/membership/"><span id="foot_7"></a>
			</div>
		</div>
	</div>
</footer>
