<!DOCTYPE html>
<html lang="en">

  <head>

	<% include ../partials/head %>

  </head>

  <body>

    <!-- Navigation -->
    
	<% include ../partials/nav %>

    <!-- Page Content -->
<section>
<div class="container">
<form action="/login" method="post">

<div class="row form-group">
<div class="col-lg-2">
</div>
<div class="col-lg-4">

        <label class="text-uppercase">Email</label>
       <input class="form-control" type="text" name="username" />
</div>
<div class="col-lg-4">

	<label class="text-uppercase">Password</label>
	<input class="form-control" type="password" name="password" />

</div>
<div class="col-lg-2">
</div>
</div>

<div class="row form-group">
<div class="col-lg-2">
</div>
<div class="col-lg-4">

	 
		
        
       
</div>
<div class="col-lg-4">

	

</div>
<div class="col-lg-2">
</div>
</div>

<div class="row form-group">
<div class="col-lg-2">
</div>
<div class="col-lg-4">

       
</div>
<div class="col-lg-4">
	
	 <input class="btn btn-primary btn-block" type="submit" value="Log in" />

</div>
<div class="col-lg-2">
</div>
</div>


    
      
      
      
       
      
 </form>
 </div>
</section>
 
 
 	<% include ../partials/socialmedia %>
			
		</div>
		<!-- /.container -->
		<% include ../partials/footer %>
	</body>

</html>