<!DOCTYPE html>
<html lang="en">

  <head>

	<% include ../partials/head %>

  </head>

  <body>

    <!-- Navigation -->
    
	<% include ../partials/nav %>

    <!-- Page Content -->
<section>
<div class="container" id="auth">
<h1 id="sectionHeader" class="section-heading pb-4" style="text-align:center;">Log on</h1>


 <h6>You may also authenticate using your SLDSA Slack account:</h6>
 <a href="/auth/slack" ariaDescription="Authenticate with Slack" style="display:inline-block;height:auto;">
 	<img src="https://api.slack.com/img/sign_in_with_slack.png"></img>
 </a>

 </div>
 
</section>
 
 
 	<% include ../partials/socialmedia %>
			
		</div>
		<!-- /.container -->
	<% include ../partials/footer %>
	<script>
	new Vue({ 
		el: '#auth',
		data() {
			return { 
				isUser: false,
				pw: false,
				lc: false,
				uc: false,
				nu: false,
				confirmed: false,
				message: ''
			}
		},
		beforeDestroy(){
		},
		mounted(){
			var self = this;
			console.log(window.location.search)
			if (window.location.search) {
				$('#e1')[0].focus();
				$('#e1')[0].blur();
			}
		},
		methods: {
			parseObj(obj) {
				if (!obj) return '';
				return obj;
			},
			confirmEmail(e) {
				var self = this;
				var val = e.target.value.trim();
				if (val !== '') {
					var email = encodeURIComponent(val);
					$.post('/checkauth/'+email).then((response)=>{
						console.log(response)
						if (!response) {
							self.isUser = response;
							self.message = 'You need to have your e-mail address added to the guest list. Alternatively, core members may login with Slack.'
						} else {
							if (response === true) {
								self.isUser = true;
								self.message = 'You are on the guest list.'
							} else {
								return window.location.href = '/login?u='+encodeURIComponent(response.username);
							}
						}
					})
					.catch((err)=>{
						self.isUser = false;
						self.message = 'There was an error looking up that e-mail address. Please try again.'
					})
				}
			},
			validatePassword(e){
				var self = this;
				var val = e.target.value;
				self.lc = /[a-z]/g.test(val);
				self.uc = /[A-Z]/g.test(val);
				self.nu = /\d/g.test(val);
				if (self.lc && self.uc && self.nu) {
					self.pw = true;
				} else {
					self.pw = false;
					self.message = 'Your password must contain at least one lowercase, one uppercase letter, and at least one number.'
				}
				
			},
			confirmPassword(e) {
				var self = this;
				var val = e.target.value;
				self.confirmed = ($('#p1').val() === val) 
			},
		}
	})
	</script>
	</body>

</html>