<!DOCTYPE html>
<html lang="en">

	<head>
	<% include ../partials/head %>
	</head>

	<body>

		<!-- Navigation -->
		<% include ../partials/nav %>
		<!-- Page Content -->
		
		<div id="page-top">
			<section id="calendar">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 text-center">
							<h2 class="section-heading">Events Calendar</h2>
							<hr class="my-4"/>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12 mx-auto text-center">
							<iframe src="https://teamup.com/ks7ryayxo1hruyxxvc"
								    width="100%"
								    height="800px"
								    frameborder="0">
							</iframe>
						</div>
					</div>
				</div>
			</section>
			
			<% include ../partials/socialmedia %>
			
		</div>
		<!-- /.container -->
		<% include ../partials/footer %>
	</body>

</html>
