<!DOCTYPE html>
<html lang="en">

  <head>

	<% include ../partials/head %>

  </head>

  <body>

    <!-- Navigation -->
    
	<% include ../partials/nav %>

    <!-- Page Content -->
    <div id="page-top">
	<section id="cart">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h1 class="section-heading pb-4">Shopping cart</h1>
				</div>
			</div>
			<div class="row">
				
				<div class="col-sm-8">
						<% if (locals.cart) { %>
						<% cart.forEach(function(item) { %>
							<% include ../partials/cartitem %>
						<% }); %>
				</div>
				<div class="col-sm-4">
							<p>
								<span>
									Total: 
								</span>
								<span>
									$
									<span>
										<%= (totalPrice / 100).toFixed(2) %>
									</span>
								</span>
								
							</p>
							<a class="btn btn-primary btn-xl"  href="/shop/checkout">
								checkout
							</a>
				</div>
			</div>
			
						
				<% } else { %>
					<p>Your cart is empty. Check out the <a href="/shop/inventory">store</a></p>
				<% } %>
			</div>
			
	</section>
		
   
    
	<% include ../partials/socialmedia %>
	  
    </div>
    <!-- /.container -->

    <% include ../partials/footer %>

  </body>

</html>
