<!DOCTYPE html>
<html lang="en">

  <head>

	<% include ../partials/head %>

  </head>

  <body>

    <!-- Navigation -->
    
	<% include ../partials/nav %>

    <!-- Page Content -->
    <div id="page-top">
	<section id="cart">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h1 class="section-heading pb-4">Shopping cart</h1>
				</div>
			</div>
			<div class="row">
				<% if (locals.cart) { %>
					<div class="col-sm-8">
						<div class="row">
							<% cart.forEach(function(item) { %>
								<% include ../partials/cartitem %>
							<% }); %>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="row" style="margin-bottom:20px;">
							
							<div class="col-sm-12">
								<p>
								<h3 style="text-align: center; height:auto;">
									<span>
										Total: 
									</span>
									<span>
										$
										<span>
											<%= (totalPrice / 100).toFixed(2) %>
										</span>
									</span>
									
								</h3></p>
							</div>
							<div class="col-sm-12">
								<a class="btn btn-primary btn-xl" role="button"  style="background-color: #ff3535; color: #fff; padding: 20px;margin: 20px;"  href="/shop/checkout">
									checkout
								</a>
							</div>
							<p> </p>
						</div>
					</div>
				<% } else { %>
					<p>Your cart is empty. Check out the <a href="/shop/inventory">store</a></p>
				<% } %>
			</div>
			<div class="row" style="border-top: 1px solid #e9e9e9; margin-top: 100px;">
				<div class="col-lg-6 mx-auto text-center">
					<hr>
				<p class="text-muted mb-0">
				The SLC DSA Chapter is an entirely member funded organization.  We currently do not receive any funding from the National DSA, and have relied on contributions from members like you to support all of our work and campaigns.  Thus far, we have raised money through fundraising events, but as our Chapter grows, and our members engage in ever larger and more ambitious campaigns, we can no longer sustain ourselves on events alone.
				</p>
				</div>
			
	</section>
		
   
    
	<% include ../partials/socialmedia %>
	  
    </div>
    <!-- /.container -->

    <% include ../partials/footer %>

  </body>

</html>
