<!DOCTYPE html>
<html lang="en">

  <head>

	<% include ../partials/head %>

  </head>

  <body>

    <!-- Navigation -->
    
	<% include ../partials/nav %>

    <!-- Page Content -->
    <div id="page-top">
	<section id="cart">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h1 class="section-heading pb-4">Shopping Cart</h1>
				</div>
			</div>
			<div class="row">
				<% if (locals.cart) { %>
					<div class="col-sm-8">
						
							<% cart.forEach(function(item) { %>
								<% include ../partials/cartitem %>
							<% }); %>
							<a class="btn btn-primary btn-xl px-2" role="button" style="border-radius:5px; width:100%" href="/shop/inventory">Continue Shopping</a>
						
					</div>
					<div class="col-sm-4 border">
						<div class="py-2">Total: <strong>$<%= (totalPrice / 100).toFixed(2) %></strong></div>
						<a class="btn btn-primary btn-xl" style="border-radius:5px; width:100%" role="button"  href="/shop/checkout">checkout</a>
						
					</div>
				<% } else { %>
					<p>Your cart is empty. Check out the <a href="/shop/inventory">store</a></p>
				<% } %>
			</div>		
	</section>
		
   
    
	<% include ../partials/socialmedia %>
	  
    </div>
    <!-- /.container -->

    <% include ../partials/footer %>

  </body>

</html>
