<!DOCTYPE html>
<html lang="en">

  <head>

	<% include ../partials/head %>

  </head>

  <body>

    <!-- Navigation -->
    
	<% include ../partials/nav %>

    <!-- Page Content -->
    <div id="page-top">

	
	<section id="intro">
		<div class="container my-auto">
		<div class="row">
			<div class="col-lg-12 text-center">
			<h2 class="section-heading">Page not found</h2>
			<hr class="my-4">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 text-center">
			<img src="\static\img\error.png"></img>
			</div>
		</div>
        </div>
    </section>

	<% include ../partials/socialmedia %>
      
    </div>
    <!-- /.container -->

    <% include ../partials/footer %>
	
  </body>

</html>
