<!DOCTYPE html>
<html lang="en">

<head>
	<% include head.ejs %>
</head>
<body>
    <!-- Navigation -->
	<% include nav.ejs %>
	
	<script>
	
	
	var txt = {
		text_1:{
			en:"SALT LAKE<br> DEMOCRATIC SOCIALISTS OF AMERICA",
			sp:"SALT LAKE<br> SOCIALISTAS DEMOCRÁTICOS DE AMÉRICA"
		},
		text_2:{
			en:"For a life worth living",
			sp:"Por una vida que valga la pena vivir"
		},
		text_3:{
			en:"BUILD SOCIALISM IN UTAH",
			sp:"CONSTRUIR EL SOCIALISMO EN UTAH"
		},
		text_4:{
			en:"Building Socialism in Utah",
			sp:"Construyendo el socialismo en Utah"
		},
		text_5:{
			en:"Together we can turn the Beehive State RED.",
			sp:"Juntos podemos convertir el estado de la colmena en ROJO."
		},
		text_6:{
			en:"LEARN MORE",
			sp:"APRENDE MÁS"
		},
		text_7:{
			en:"Welcome to SLDSA!",
			sp:"Bienvenido a SLDSA!"
		},
		text_8:{
			en:"Salt Lake Democratic Socialists is a local of Democratic Socialists of America, the largest socialist organization in the United States with about 49,000 members (as of August 2018). SLC DSA is run by its members and activists who are working together to build a democratic socialist organization in Utah.",
			sp:"Salt Lake Democratic Socialists es un local de Socialistas Democráticos de América, la organización socialista más grande de los Estados Unidos con aproximadamente 49,000 miembros (hasta agosto de 2018). SLC DSA está dirigido por sus miembros y activistas que trabajan juntos para construir una organización socialista democrática en Utah."
		},
		text_9:{
			en:"We are socialists because we share a vision of a humane social order based on popular control of resources and production, economic planning, equitable distribution, feminism, racial equality, and non-oppressive relationships.",
			sp:"Somos socialistas porque compartimos una visión de un orden social humano basado en el control popular de los recursos y la producción, la planificación económica, la distribución equitativa, el feminismo, la igualdad racial y las relaciones no opresivas."
		},
		text_10:{
			en:"We are socialists because we are opposed to an economy organized for private profit that produces gross inequalities of wealth and power, discrimination based on race and sex, and brutality and violence in defense of the status quo.",
			sp:"Somos socialistas porque nos oponemos a una economía organizada para el beneficio privado que produce grandes desigualdades de riqueza y poder, discriminación basada en la raza y el sexo, y brutalidad y violencia en defensa del status quo."
		},
		text_11:{
			en:"We are socialists because we want to work together to develop a concrete strategy for achieving that vision, for achieving a transition to democratic socialism in America. We believe that such a strategy must acknowledge the class structure of American society and that this class structure means that there is a basic conflict of interest between those sectors with enormous economic power and the vast majority of the population. And we believe that only democratic movements and socialist parties can lead the way to a better world.",
			sp:"Somos socialistas porque queremos trabajar juntos para desarrollar una estrategia concreta para lograr esa visión, para lograr una transición al socialismo democrático en Estados Unidos. Creemos que dicha estrategia debe reconocer la estructura de clase de la sociedad estadounidense y que esta estructura de clase significa que existe un conflicto de intereses básico entre aquellos sectores con enorme poder económico y la gran mayoría de la población. Y creemos que solo los movimientos democráticos y los partidos socialistas pueden liderar el camino hacia un mundo mejor."
		},
		text_12:{
			en:"Build a better world with us!",
			sp:"¡Construye un mundo mejor con nosotros!"
		},
		text_13:{
			en:"GET INVOLVED",
			sp:"INVOLUCRARSE"
		},
	
	
	}
	
	</script>
	

<div id="page-top">
	<header class="masthead text-center text-white d-flex">
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-10 mx-auto">
				
				
					<h1 class="text-uppercase text-faded">
					
					
					<strong><span id="text_1"></strong>
										
					</h1>
					<hr class="my-4">
				</div>
				<div class="col-lg-8 mx-auto">
					<p class="text-faded mb-5"><span id="text_2"></p>
										
					<a class="btn btn-primary btn-xl js-scroll-trigger" href="#logo"><span id="text_3"></a>
				</div>
			</div>
		</div>
	</header>
</div>	
	<section id="logo">
		<div class="container my-auto text-center">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<h2 class="section-heading"><span id="text_4"></h2>
					<hr class="my-4"> 
					<p class="mb-5"><span id="text_5"></p>
				</div>
			</div>
		<div class="row">
			<div class="col-lg-6 mx-auto">
			<img class="mb-5" src="static/img/SLCDSA1.png" alt="DSA Logo" style="max-width: 320px;">
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 mx-auto">
				<a class="btn btn-primary btn-xl sr-button js-scroll-trigger" href="#about"><span id="text_6"></a>
			</div>
			</div>
			
			</div>
			
			
	</section>
	
	
	<section class="bg-primary" id="about">
		<div class="container my-auto text-center">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<h2 class="section-heading text-white"><span id="text_7"></h2>
					<hr class="light my-4">
					<p class="text-faded mb-4">
					<span id="text_8"></p>

					<p class="text-faded mb-4"><span id="text_9"></p>

					<p class="text-faded mb-4"><span id="text_10"></p>
			
					<p class="text-faded mb-4">
					<span id="text_11">
					</p>
			
					<p class="text-faded mb-4">
					<span id="text_12">
					</p>
					
					<a class="btn btn-light btn-xl sr-button js-scroll-trigger" href="#involved"><span id="text_13"></a>
				</div>
			</div>
		</div>
    </section>
	
	<section id="involved">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h2 class="section-heading">Get Involved</h2>
					<hr class="my-4">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box mt-5 mx-auto">
						<a class="js-scroll-trigger" href="/new-members">
						<i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
						<h3 class="mb-3">New Members</h3>
						<p class="text-muted mb-0">Learn about how our chapter is run, and how to help out with our New Members Handbook</p>
						</a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 text-center">
					<div class="service-box mt-5 mx-auto">
						<a href="/committees">
						<i class="fas fa-4x fa-users text-primary mb-3 sr-icon-2"></i>
						<h3 class="mb-3">Committees</h3>
						<p class="text-muted mb-0">Committees are the best way to get involved.</p>
			  </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
				<a class="js-scroll-trigger" href="/calendar">
              <i class="fas fa-4x fa-calendar-alt text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">Calendar</h3>
              <p class="text-muted mb-0">Never miss an event.</p>
			  </a>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
				<a class="js-scroll-trigger" href="/donate">
              <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">Donations</h3>
              <p class="text-muted mb-0">Donations keep us running!</p>
			  </a>
            </div>
          </div>
        </div>
      </div>
    </section>
      
	
	
	
	
	<% include socialmedia.ejs %>
	
		  
    </div>
    <!-- /.container -->

    <% include footer.ejs %>
	<script>
		$(".sp").hide();
		$(".en").show();
	</script>

  </body>

</html>
