<!DOCTYPE html>
<html lang="en">

  <head>

	<% include ../partials/head %>

  </head>

  <body>

    <!-- Navigation -->
    
	<% include ../partials/nav %>

    <!-- Page Content -->
    <div id="page-top">
	<section id="store">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
					<h1 class="section-heading pb-4">Official Salt Lake DSA Store</h1>
				</div>
				
				<% if (locals.content) { %>
					<div class="col-sm-12" id="select">
						<div class="row" v-for="(t, i) in distinct">
							<!-- for each type of item (content titles should be distinct. i.e. all items titled 't-shirt' will 
							appear as one item. Further refinement needed. ) -->
							

							<% content.forEach(function(item) { %>
								<!-- for each item in the inventory -->
								<div class="col-sm-12" v-if="'<%= item.title %>' === t">
									<!-- for each item in the distinct title -->
									
									<% if (item.size === 'S') {%>
										<div class="row sizeSmall" v-if="sz === 'S'">
											
											<% include ../partials/item %>
										</div>
									<%} else if (item.size === 'M') {%>
										<div class="row sizeSmall" v-if="sz === 'M'">
											
											<% include ../partials/item %>
										</div>
									<%} else if (item.size === 'L') {%>
										<div class="row sizeSmall" v-if="sz === 'L'">
											
											<% include ../partials/item %>
										</div>
									<%} else if (item.size === 'XL') {%>
										<div class="row sizeSmall" v-if="sz === 'XL'">
											
											<% include ../partials/item %>
										</div>
									<%}%>
								</div>
							<% }); %>
							

						</div>
						<div class="col-sm-12">
							<p style="text-align: right; color: #fff;">
								<span class="tb-font-m">
									Total: 
								</span>
								<span>
									
									<span>
										<%= content.length %>
									</span>
									<span>
										 items
									</span>
								</span>
								
							</p>
						</div>

				<% } %>
			</div>
		
		</div>
    </section>
    
	<% include ../partials/socialmedia %>
	  
    </div>
    <!-- /.container -->

    <% include ../partials/footer %>
	<script type="text/javascript">
		
		new Vue({ el: '#select',
				data() {
					return { 
						sz: '',
						distinct: [],
						content: this.parseObj(<%- vContent %>)
					}
				},
				mounted(){
					var self = this;
					if (self.sz === '') {
						self.sz = 'S';
					}
					if (self.distinct.length === 0) {
						self.content.forEach(function(doc){
							if (self.distinct.indexOf(doc.title) === -1) {
								self.distinct.push(doc.title);
								
							}
						})
						console.log(self.distinct)
					}
				},
				methods: {
					parseObj(obj) {
						if (!obj) return '';
						return obj;
					},
					selectSize(size) {
						var self = this;
						self.sz = size;
					}
				}
			})
	</script>
  </body>

</html>
