<!DOCTYPE html>
<html lang="en">

  <head>

	<% include ../partials/head %>

  </head>

  <body>

    <!-- Navigation -->
    
	<% include ../partials/nav %>
	
	<script>
	var txt = {
		text_1:{
			en:"NEW MEMBERS HANDBOOK",
			sp:"manual para nuevos miembros"
		},
		text_2:{
			en:"For a life worth living",
			sp:"Por una vida que valga la pena vivir"
		}
	}
	</script>
	

    <!-- Page Content -->
    <div id="page-top">
	<header class="masthead text-center text-white d-flex" style="background-image: url(static/img/rally.jpg);">
		<div class="container my-auto">
			<div class="row">
				<div class="col-lg-10 mx-auto">
					<h1 class="text-uppercase text-faded">
					<strong><span id="text_1"></strong>
					</h1>
					<hr class="my-4">
				</div>
				<div class="col-lg-8 mx-auto">
					<a class="btn btn-primary btn-xl js-scroll-trigger" href="#intro">Get Started</a>
				</div>
			</div>
		</div>
    </header>
	
	<section id="intro">	
		<div class="container">
			<div class="row">				
				<div class="col-md-12">
					<h1 id="s1" class="py-3">Welcome to Salt Lake DSA</h1>
					<p>
					We’re glad you’re here.  Whether you’re brand new to activism or you’re a long term organizers we welcome your ideas and your energy.
					<p>
					Democratic Socialists of America - Salt Lake Chapter seeks to create a system based on justice and equality for all people. We believe everyone deserves to live their own life with dignity. We work to equalize political and economic power, because true democracy cannot coexist with inequality. We urgently fight to stop the many crises facing our most powerless members of society.
					<p>
					We are not a political party. We are a coalition of people, united to create a more powerful front against the worst that capitalism has to offer.
					<p>
					DSA strives to be the left-wing counterpart to mainstream politics. Together, we educate the public about democratic socialism and provide a supportive community for folks questioning capitalism and looking and working for an alternative. And of course, we "join the fights" as activists, too!
					
					<p>
					This handbook is meant to answer the questions we hear frequently from new members. How do  I get started? How do I vote? Where can I find out what the chapter is doing?
							
					<div class="container py-3">
					<div class="row">
						<div class="col-sm-6 my-1">
							<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s2"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>How to become a member</small></a>
						</div>
					
						<div class="col-sm-6  my-1">
							<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
						</div>
				
					</div>
					</div>
					<hr class="my-4">
					<h1 id="s2" class="py-3">How to Become a Member</h1>
					
					<p>
					As a democratic, grassroots organization, DSA is continuing the political revolution for the long term. By paying dues, DSA members self-fund our own tools for liberation. No one is turned away for lack of funds. We invite you to join us today!

					<strong>How to pay your dues</strong>
					<ol class="pt-3">
						<li>Visit <a href="https://act.dsausa.org/donate/membership/">https://act.dsausa.org/donate/membership/</a></li>
						<li>Be sure to put in an email address you use regularly. You will get a confirmation email right away with downloadable member resources.</li>
						<li>Dues are good for ONE YEAR. You need renew every year, or you can sign up for monthly dues.</li>
					</ol>
					<strong>Dues Levels</strong>
					<div class="d-flex justify-content-between pt-3">
					<div>
						<p>Introductory
						<p>Regular
						<p>Sponsor
						<p>Family
						<p>Sustainer
						<p>Student/Young Democratic Socialists
						<p>Low Income
						<p>Lifetime for 50 Years
					</div>
					<div>
						<p>$45.00
						<p>$60.00
						<p>$85.00
						<p>$110.00
						<p>$175.00
						<p>$20.00
						<p>$27.00
						<p>$750.00
					</div>
					</div>
					
				<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s3"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Advice for New Members</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
			
			<hr class="my-4">
			<h1 id="s3" class="py-3">Advice for New Members</h1>
					<p><strong>Visit our <a href="https://saltlakedsa.org">website</a>.</strong> If you never pay your dues you can still show up for SL DSA events. We have a public calendar and everyone (even non-members) are welcome to attend any of our events,  actions, committee meetings. 

					<p><strong>Sign up and read our newsletter.</strong> This is the most reliable way to find out news, events, actions, and volunteer opportunities. You can sign up here: <a href="https://saltlakedsa.org/newsletter">https://saltlakedsa.org/newsletter</a>.
					
					<p><strong>Read announcements and participate in our Slack Channel.</strong> Slack is a messaging application that can be accessed on a mobile phone or a computer. When you become a dues paying member you will be added to the Slack Channel. If you have not yet been added please email <a href="mailto:saltlakedsa.cc@gmail.com">saltlakedsa.cc@gmail.com</a> and ask for an invite.
					
					<p><strong>Attend General Meetings.</strong> We have a general meeting every month. This is where you can get updated on all the work the different committees are working on, participate in democratic decision making and meet Socialists in Salt Lake. 
					
					<p><strong>Join or form a committee.</strong>  <a href="https://www.saltlakedsa.org/committees">Committees</a>  are where activists in our chapter plan events, actions, and more. It’s where the action happens. You can email any committee to find out about where and when they meet, if no committee is working on the issue that you are passionate about, you can form your own. Just find 4 other activists interested in forming the committee and you can start a new committee.

					<p><strong>Bonus!</strong> Follow us on Social Media.
					<ul>
						<li><a href="https://www.facebook.com/slcdsa/">Facebook</a></li>
						<li><a href="https://www.instagram.com/slcdsa/">Instagram</a></li>
						<li><a href="https://twitter.com/slcDSA">Twitter</a></li>
					</ul>
					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s4"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Talking About Socialism</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					<hr class="my-4">
					<h1 id="s4" class="py-3">Talking About Socialism</h1>
					
					You’re already an expert on talking about Socialism. Think about why you, personally, are a socialist. What made you realize you were a socialist? What have you seen or learned that has crystallized the need for Socialism and made it real to you?
					
					<p>
					The most effective way to talk about socialism happens in 2 parts: 
					
					<ol>
					<li>A personal story about a problem caused by capitalism. </li>
					<li>The socialist antidote to the problem. </li>
					</ol>
					
					<p>
					Here are some examples:
					
					<ul>
					<li>
					<p>
					<strong>Personal story</strong>: I’m a Socialist because I was volunteering in a free clinic and realized that I could be there for ten years and there will be even more people who can’t afford co-pays then than now. I still do it, but we have to change the capitalist system.
					
					<p>
					<strong>Socialist antidote</strong>: In a socialist society, health care, along with other basic needs like housing and education would be a right that everyone enjoyed, not something only the very rich can afford.
					</li>
					<li>
					<p>
					<strong>Personal story</strong>: I’m a socialist because of my student loans. I’ve paid about $27,000 in interest on my student loans, but only $3,000 towards the principal. I’ve been paying for 10 years. I feel like an indentured servant that will never be free from my debt. 
					
					<p>
					<strong>Socialist antidote</strong>: In a Socialist society, education would be seen as a right and available to everyone without needing to go into enormous debt.
					</li>
					</ul>
					<p>
					Sometimes you’ll get folks with honest misconceptions about socialism asking a question you don’t know the answer to. Or bad faith folks  might try to “red bait” you by asking something like “but what about Venezuela?” Here’s are some great lines that set you up to share your vision for a better society.
					
					<ul>
					<li>“I don’t know about that but I’m a Socialist because…”</li>
					<li>“I hadn’t considered that but here’s my personal experience trying to survive under our current capitalist system…”</li>
					</ul>
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s5"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Talking About DSA</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					
					<hr class="my-4">
					<h1 id="s5" class="py-3">Talking About DSA</h1>
					<p>
					You’re talking to some socialist curious friends and they ask you why you joined DSA. Don’t panic - you’re already an expert on talking about socialism. Here’s a quick explainer about what DSA is.
					
					<ul>
					<li>
					DSA is the largest socialist organization in the United States. We’re an activist organization, not a political party. It’s a big tent which welcomes many different anti-capitalist perspectives. We use a variety of tactics, from legislative to direct action to win a better world for working people.
					</li>
					</ul>
					
					<p>
					After that, a really natural place to is talk about how you first heard about DSA and why you joined. Here are some common examples:
					
					<ul>
					<li>I knew about DSA for awhile but I was really impressed with their fight to win a universal right to counsel for all tenants in San Francisco. I joined because I wanted to work on things that make life easier for working people.</li>
					<li>I heard about DSA from a friend. I used to think that socialism was a good idea, but impractical because the United States seems so conservative. Then I saw Alexandria Ocasio Cortez win her primary on a socialist platform and I decided that I wanted to get involved.</li>
					<li>I heard about DSA because someone was canvassing for Medicare 4 all. Talking with them made me feel like we can win universal healthcare in the United States. I joined and started volunteering after that.</li>
					<li>I saw a DSA contingent at a rally. It was refreshing to see a lot of people my age organizing and I started going to meetings to see what I could do to get involved.</li>
					</ul>

					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s6"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Voting</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					<hr class="my-4">
					<h1 id="s6" class="py-3">Voting</h1>
					<p>
					<strong>Can I Vote?</strong>
					
					<p>
					You can vote if:
					
					<ul><li>You are a dues paying member and your dues are current.</li></ul>
					
					<p>
					<strong>What do we vote on?</strong>
					
					<p>
					Some examples of what we vote on: bylaws amendments, Coordinating Committee, delegate positions, Grievance Officer(s), whether we sponsor a event, and endorsements for ballot measures and candidates.
					<p>
					<strong>Online voting</strong>
					
					<p>
					We use online voting for time-sensitive and less contentious items like event endorsements and sponsorship.

					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s7"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Robert’s Rules of Order</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					<hr class="my-4">
					<h1 id="s7" class="py-3">Introduction to Robert’s Rules of Order</h1>
					
					<p>
					We use Robert’s Rules to help us run votes and debate. Having an agreed on set of procedures allows us to make decisions as  efficiently and fairly as possible. The following excerpt is from the <strong>Robert’s Rules for Dummies Cheat Sheet.</strong>
					
					<p>
					<strong>Steps for a basic vote</strong>
					<ol>
					<li>The member rises and addresses the chair.</li>
					<li>The chair recognizes the member. </li>
					<li>The member makes a motion. </li>
					<li>Another member seconds the motion.</li>
					<li>The chair states the motion.</li>
					<li>The members debate the motion.</li>
					<li>The chair puts the question, and the members vote.</li>
					<li>The chair announces the result of the vote.</li>
					</ol>
					
					<p>
					<strong>What is a motion, anyway?</strong>
					
					<p>
					When that light bulb goes off in your head and you have a great idea, you make a motion to get your idea discussed and a decision made.
					
					<p>
					Until a motion is made, seconded, and stated by the chair, no discussion is in order. This rule of “motion before discussion” saves valuable meeting time. When you start off with a definite proposal — “I move that . . .” — your group discusses the motion’s merits and all the details necessary to make a decision. And during the discussion, you and the other members are free to alter your motion as much as necessary before reaching the final decision.
					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s7-5"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>DSA Organization Structure</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
			
			
					<hr class="my-4">
					<h1 id="s7-5" class="py-3">DSA Organization Structure</h1>
			<p>We’re a nationwide organization with over 80 DSA chapters in 48 states. We’re a “big tent” organization which means we welcome a variety of anti-capitalist ideologies and we have no “party line” that chapters must obey.
			
			
			<div class="container">
					<div class="row no-gutters">
					<div class="col-md-4">
					<div class="card" style="height:100%;">  
						<div class="card-body">
						<h5 class="card-title">National Staff</h5>
						<div class="card-text">
							<p>7 person staff, responsible for largely administrative work like updating and sending member roles, coordinating our newsletter the Democratic Left.
						</div>						
						</div>
					</div>
					</div>
					<div class="col-md-4">
					<div class="card" style="height:100%;">  
						<div class="card-body">
						<h5 class="card-title">National Political Committee</h5>
						<div class="card-text">
							<p>16 person committee. Elected every 2 years at the National Convention. Currently tasked with 3 priorities: 
							<ol>
							<li>Developing our Medicare For All campaign</li>
							<li>Developing our relationship with labor groups</li>
							<li>Developing our electoral strategy</li>
							
							</ol>
						</div>						
						</div>
					</div>
					
					</div>
					<div class="col-md-4">
					<div class="card" style="height:100%;">  
						<div class="card-body">
						<h5 class="card-title">Local Chapters</h5>
						<div class="card-text">
							<ul>
								<li>responsible for developing their own structure and bylaws</li>
								<li>sends delegates to the national</li>
								
								
							</ul>
						</div>						
						</div>
					</div>
					</div>
					</div>
					</div>
			<p class="pt-3"><strong>National staff</strong>
			<p>These are the full-time employees that do the administrative tasks of running DSA. Someone in this list probably mailed you your membership card.
			
			<p>Maria Svart, National Director | msvart@dsausa.org
			<p>Elena Blanc, Database Manager | eblanc@dsausa.org
			<p>Claudia Cahill, Grassroots Organizer | ccahill@dsausa.org
			<p>Eileen Casterline, Administrative Coordinator | ecasterline@dsausa.org 
			<p>Lawrence Dreyfuss, Administrative Assistant | ldreyfuss@dsausa.org 
			<p>Ryan Mosgrove, Assistant Youth Organizer | yds@dsausa.org
			<p>Hannah Allison, Travelling Organizer | hallison@dsausa.org 

			
			
			
			<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s8"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Chapter Structure</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					<hr class="my-4">
					<h1 id="s8" class="py-3">Chapter Structure</h1>
					<p>
					Our chapter structure here in Salt Lake is made up of a nine person coordinating committee, issue based committees who elect their own leadership, and grievance officers.
					
					<div class="container">
					<div class="row no-gutters">
					<div class="col-md-4">
					<div class="card" style="height:100%;">  
						<div class="card-body">
						<h5 class="card-title">Coordinating Committee</h5>
						<div class="card-text">
							<ul>
								<li>9 person committee</li>
								<li>Made up of 2 co-chairs, 2 co-secretaries, 2 membership coordinators, 2 at-large, 1 treasurer</li>
								<li>One year term, elected every May</li>
								<li>Responsible for supporting the chapter with administrative tasks</li>
							
							</ul>
						</div>						
						</div>
					</div>
					</div>
					<div class="col-md-4">
					<div class="card" style="height:100%;">  
						<div class="card-body">
						<h5 class="card-title">Issue based committees</h5>
						<div class="card-text">
							<ul>
								<li>Responsible for developing and implementing campaigns, actions, and demonstrations</li>
								<li>1-2 co-chairs elected by their committees are responsible for administrative tasks</li>
								
							</ul>
						</div>						
						</div>
					</div>
					
					</div>
					<div class="col-md-4">
					<div class="card" style="height:100%;">  
						<div class="card-body">
						<h5 class="card-title">Grievance Officers</h5>
						<div class="card-text">
							<ul>
								<li>1 officer</li>
								<li>Elected by the chapter</li>
								<li>One year term</li>
								<li>Hear and and provide recommendations on grievances against chapter members</li>
								
							</ul>
						</div>						
						</div>
					</div>
					</div>
					</div>
					</div>
										
					<p class="pt-3"><strong>Chapter Bylaws</strong>
					The <a href="https://docs.google.com/document/d/1KwkciiL9Pzj3WGeEJrX2rCc5nTwLKV5wyvyN6Qy85GU/edit?usp=sharing">chapter bylaws</a> were voted on and approved by the SLDSA body on November 8, 2018.
					
					<p><strong>Chapter history</strong>
					<p>The current version of the SL DSA chapter was reformed in early 2017 by a small group of socialists from varying groups.

					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s9"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Committees</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
				
					
					<hr class="my-">
					<h1 id="s9" class="py-3">Committees</h1>
					<p>Our committees are where the real work of the chapter gets done. They are responsible for developing and implementing campaigns, actions, demonstrations, and social events.
					
					<table class="table table-striped table-bordered table-hover table-responsive">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Committee Name</th>
      <th scope="col">Email Address</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Coordinating Committee<br> 
Chapter Administration</td>
      <td>saltlakedsa.cc@gmail.com</td>
  
    </tr>
    <tr>
      
      <td>Eco-Socialist Committee<br>
Championing ecosocialism and supporting local communities</td>
      <td></td>
      
    </tr>
    <tr>
      
      <td>Communications Committee<br>
Facilitate communications within the chapter</td>
      <td></td>
      
    </tr>
	 <tr>
      
      <td>Lefty Lending Library<br>Easy way for DSA members to lend and borrow books and other media to one another</td>
      <td>leftylendinglibrary@gmail.com</td>
      
    </tr>
	 <tr>
      
      <td>Mutual Aid Committee<br>General Mutual aid work from carpools to harm reduction</td>
      <td>saltlakedsa.mutualaid@gmail.com</td>
      
    </tr>
	 <tr>
      
      <td>Reading Group<br>We read and discuss books on revolutionary politics, capitalism and social change, socialist movement history and strategy.</td>
      <td></td>
      
    </tr>
  </tbody>
</table>
					
					
					
					
					
					
					
					
					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s10"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Communication Etiquette</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					<hr class="my-4">
					<h1 id="s10" class="py-3">Communication Etiquette</h1>
					
					<p>
					At Salt Lake DSA we primarily use Slack as a means of communications, occasionally sending out emails. This may change in the future.
					
					<p><strong>Communication platforms</strong>
					<p><a href="https://slack.com/">Slack</a> - open chat rooms with added features
					<p>When joining the DSA, you will typically be added to the Slack. Once you sign into Slack, ou may join any committee specific channels by clicking “Channels” at the top left of the slack screen.
					<p><strong>Slack etiquette</strong>
					<p>Slack is a full featured instant messenger with many useful features for document sharing. It is not a secure messaging platform and is meant for non-emergency communication. Use this for workshopping in groups, requesting immediate feedback, and fun conversations.
					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-6 my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s11"><i class="fas fa-2x fa-angle-down align-middle px-2"></i><small>Meeting Agreements</small></a>
					</div>
					
					<div class="col-sm-6  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					
					<hr class="my-4">
					<h1 id="s11" class="py-3">Meeting Agreements</h1>
					<p>					
					Meetings are more productive — and more fun — when the conversation includes everyone. Respectful discussion guidelines are helpful for keeping things focused too. You can read these before meetings and forums. 
					
					<p class="font-weight-bold">Assume good faith in your fellow comrades
					
					<p>Assume good faith in each other. Please try to speak from experience, speak for yourself, and actively listen to each other. When someone makes a point, repeat what you heard, summarize, and ask clarifying questions like “did you mean X” or “what makes you say that” to get more information. Encourage yourself and others to maintain a positive attitude, honor the work of others, avoid defensiveness, be open to legitimate critique and challenge oppressive behaviors in ways that help people grow. We want to “call each other in” rather than calling each other out — in other words, if you are challenging someone’s ideas or behavior, do it respectfully, and if you are being challenged, receive it respectfully. Remember, mistakes will be made, nobody is perfect.	
					
					<p class="font-weight-bold">Know whether you need to “step up” or “step back”
					
					<p>Help create a safe and inclusive space for everybody. Please respect others by recognizing how often, much, and loud you’re speaking and whether or not you’re dominating the conversation. Step back to leave space for others to voice their opinions and feelings. If the facilitator of the meeting asks you to wrap up, recognize that you should step back. This especially applies to participants who have privileged backgrounds. On the other hand, if you don’t often speak up, we encourage you to do so now!
					
					<p class="font-weight-bold">Please ask yourself “Why am I Talking?”
					
					<p>We have a limited amount of time for discussion and to accomplish the tasks before us. When in discussion, please ask yourself “Why am I talking (WAIT)?” Consider whether or not what you want to say has already been said, whether what you want to say is on topic or if there’s a better time and place to say it, and other methods for showing how you feel about the conversation (nodding your head, etc.)
					
					<p class="font-weight-bold">Please recognize and respect other's feelings, background, and cultural differences
					
					<p>Many people have different levels of experience, knowledge, and feelings in social justice and radical activism and all participants should respect and embrace this diversity. Many people from different backgrounds have different definitions of what it means to be an “activist” or “radical.” While we all don’t have to agree on everything, we should respect our diversity of opinions. Recognize that everyone has a piece of the truth, everybody can learn, and everybody has the ability to teach and share something. Don’t use language that’s clearly oppressive or hurtful. Please, refrain from using acronyms or complicated language that could exclude others.
					
					<p class="font-weight-bold">We have “one mic” so do not interrupt or speak while others are talking
					
					<p>Many of us will have different opinions on matters. However, speaking while others are talking or adding comments when they cannot respond appropriately does not build community. If you have a disagreement, wait for your turn to address it. This is basic politeness.
					
					<p class="font-weight-bold">Respect the facilitator when they use Progressive Stack
					
					<p>Progressive Stack is a form of leading discussions which involves a facilitator keeping a list of names of people who wish to speak. The facilitator scans the group during the discussion, and if someone wishes to speak, they raise their hand and catch the facilitator’s eye. The facilitator nods and makes eye contact to indicate the person is now put on the list to speak, and then the person can put their hand down so it does not distract other discussion participants. However, the facilitator does not simply write a list of names in the order that people raise their hand. Rather, if someone who has not spoken raises their hand, they go to the top of the list. If someone who is of an oppressed group raises their hand, they go to the top of the list unless they have already contributed significantly to the discussion. 		

					
					
					<div class="container py-3">
				<div class="row">
					<div class="col-sm-12 my-1 font-weight-bold" style="text-align:center;">
						You all Done!
					</div>
					
					<div class="col-sm-12  my-1">
						<a class="btn btn-primary btn-xs js-scroll-trigger w-100" href="#s1"><i class="fas fa-2x fa-angle-up align-middle px-2"></i><small>Back to the begining</small></a>
					</div>
				
				</div>
			</div>
					
					
				
					
			</div>
			
			</div>
		</div>
		
    </section>

      
	  
	<% include ../partials/socialmedia %>
	
    </div>
    <!-- /.container -->

    <% include ../partials/footer %>

  </body>

</html>
