<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>

</head>

<body>
  <!-- Navigation -->
  <% include ../partials/nav %>
  <!-- Page Content -->
  <div id="page-top">
    <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h1 class="section-heading">Mutual Aid</h1>
          </div>
        </div>
      </div>
      <hr class="my-1" style="max-width:100%" />

      <div class="container">
        <div class="row text-center">
          <div class="col-lg-4 align-self-center">
            <img src="static/img/fundgraphic.jpg">
          </div>
          <div class="col-lg-8">
            <div class="container">
              <div class="row text-center">
                <div class="col-lg-12">
                  <h1 class="section-heading">Solidarity<img src="static/img/holdinghands.jpg">Fund</h1>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h2 class="text-center py-2" style="background-color: #4b95c9;">1</h2>
                  <div style="background-color: #fff7f7; height: 100%" ;>
                    <h4>Send The Money Person a Message</h4>
                    <p>In order to get money to you, we need to know a few things. Most Importantly; your name, how much you need, and how to best share the money with you. </p>
                    <p>Especially for larger request, it's also helpful to know whatever you are comfortable sharing about the purpose of the money</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <h2 class="text-center py-2" style="background-color: #c98a4b;">2</h2>
                  <div style="background-color: #fff7f7; height: 100%;">
                    <h4>The Money Person Consults Two Other Members</h4>
                    <p>Generally we trust The Money Person to have a good judgement on sending money. However, our budget is still tight, so for larger requests we need two more members of the Mutual Aid Committee to agree we
                      can
                      satisfy it.</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <h2 class="py-2" style="background-color: #26663a;">3</h2>
                  <div style="background-color: #fff7f7; height: 100%;">
                    <h4>The Money Person Sends You the Money</h4>
                    <p>Once approved, the Money Person will confirm any delivery details and get the money forwarded to you. No more questions asked!</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <h2 class="py-2" style="background-color: #696969;"><i class="fas fa-eye-slash"></i></h2>
                  <div style="background-color: #fff7f7; height: 100%;">
                    <h4>Privacy</h4>
                    <p>We understand privacy is important.</p>
                    <p>We do need ot keep public records of how much money we distribute</p>
                    <p>But we will not record names, reasons for the request, or any other personal information.</p>
                    <p>The Money Person and approvign members (if applicable) will be the only ones to ever see that info</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <% include ../partials/socialmedia %>
  </div>
  <!-- /.container -->
  <% include ../partials/footer %>
</body>

</html>
